@font-face {
  font-family: "shrikhand";
  src: url(../../police/Shrikhand-Regular.otf);
}
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes logo {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-spinner {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes functioning-color {
  100% {
    background: #9356DC;
    opacity: 0.5;
  }
}
@keyframes heart__color {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dish__bloc {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes check__bloc {
  0% {
    transform: scaleX(0);
    width: 0px;
  }
  100% {
    transform: scaleX(1);
    width: 60px;
  }
}
@keyframes check__rotation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
body {
  font-family: "roboto", sans-serif;
  color: black;
  font-size: 1em;
  margin: unset;
  min-width: 320px;
}

.header {
  max-width: 100%;
  height: 65px;
  font-size: 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.header__logo {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50%;
  font-family: "shrikhand", sans-serif;
}
.header__arrow_left {
  font-size: 1.3em;
  position: absolute;
  left: 20px;
  top: 25px;
}
.header__arrow_left a {
  color: black;
}

.footer {
  background: #353535;
  color: white;
  max-width: 100%;
  height: 110%;
  padding: 5px 25px 15px 25px;
  display: flex;
  flex-direction: column;
}
.footer__title {
  font-family: "shrikhand", sans-serif;
  font-size: 1.3em;
}
.footer__list {
  list-style-type: none;
  padding: unset;
  margin: unset;
}
.footer__list__li {
  line-height: 1.8rem;
}
.footer__list__li a {
  text-decoration: none;
  color: white;
}
.footer__list__li i {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
@media only screen and (min-width: 1024px) {
  .footer__list {
    display: flex;
    flex-direction: row;
    column-gap: 10%;
  }
}

/* HOME */
.search__bloc {
  background: #EAEAEA;
  max-width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 5px -7px #cfcfcf inset;
  font-size: 1.1em;
}
.search__bloc__icon {
  margin-right: 5px;
}
.search__bloc__barre_search {
  border: unset;
  background: #EAEAEA;
  font-weight: bold;
  font-size: 0.9em;
  width: 140px;
}

.presentation__bloc {
  max-width: 100%;
  height: 285px;
  background: #F6F6F6;
  padding: 20px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.presentation__bloc__title {
  text-align: center;
}
.presentation__bloc__info {
  text-align: center;
}
.presentation__bloc__btn {
  width: 220px;
  height: 50px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 2px 2px 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation__bloc__btn:hover {
  background: linear-gradient(190deg, #FF79DA, #9356DC);
}
@media only screen and (min-width: 570px) and (max-width: 1024px) {
  .presentation__bloc {
    width: 50%;
    height: 430px;
  }
}
@media only screen and (min-width: 1024px) {
  .presentation__bloc {
    width: 50%;
    height: 430px;
  }
}

.functioning {
  max-width: 100%;
  height: 440px;
  padding: 40px 20px 0 20px;
}
.functioning__title {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
.functioning__list {
  padding: unset;
  margin-left: 12.5px;
}
.functioning__list__li {
  max-width: 100%;
  height: 75px;
  background: #F6F6F6;
  margin-bottom: 1.7em;
  border-radius: 20px 20px;
  position: relative;
  box-shadow: 0 2px 5px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 30px;
}
.functioning__list__li:hover {
  background: rgba(147, 86, 220, 0.2);
}
.functioning__list__li:hover i {
  color: #9356dc;
}
.functioning__list__li__number {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12.5px;
}
.functioning__list__li__icon_mobile {
  font-size: 1.25em;
  color: gray;
}
.functioning__list__li__icon_list {
  font-size: 1.05em;
  color: gray;
}
.functioning__list__li__icon_store {
  font-size: 0.95em;
  color: gray;
}
.functioning__list__li__text {
  margin-left: 15px;
  width: 100%;
  font-weight: bold;
}
@media only screen and (min-width: 570px) and (max-width: 1024px) {
  .functioning {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .functioning {
    width: 50%;
  }
}

@media only screen and (min-width: 570px) and (max-width: 1024px) {
  .presentation_and_functioning_placement {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .presentation_and_functioning_placement {
    display: flex;
    flex-direction: row;
  }
}

.restaurant {
  max-width: 100%;
  height: 1230px;
  background: #F6F6F6;
  padding: 40px 20px 0 20px;
}
.restaurant__title {
  font-size: 1.5em;
}
.restaurant__def {
  width: 100%;
  height: 250px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 15px -5px gray;
  margin-bottom: 1.3em;
  position: relative;
}
.restaurant__def a {
  text-decoration: none;
  color: black;
}
.restaurant__def__img {
  width: 100%;
  height: 175px;
  position: relative;
}
.restaurant__def__img__palette {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.restaurant__def__img__enchantee {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.restaurant__def__img__francaise {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.restaurant__def__img__delice {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.restaurant__def__img__new {
  background: #99E2D0;
  width: 80px;
  height: 30px;
  font-weight: bold;
  position: absolute;
  right: 12px;
  top: 0;
  font-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.restaurant__def__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  max-height: 75px;
  border-radius: 0 0 15px 15px;
  padding: 15px 15px 10px 15px;
}
.restaurant__def__info__name_add {
  line-height: 1.5em;
}
.restaurant__def__info__name_add h3,
.restaurant__def__info__name_add p {
  margin: unset;
}
.restaurant__def__icon {
  position: absolute;
  right: 50px;
  top: 195px;
}
.restaurant__def__icon__heart {
  font-size: 1.8em;
  position: absolute;
}
@media only screen and (min-width: 570px) and (max-width: 1024px) {
  .restaurant__def {
    width: 48%;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant__def {
    width: 23.7%;
  }
}
@media only screen and (min-width: 570px) and (max-width: 1024px) {
  .restaurant {
    height: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant {
    height: 100%;
  }
}

@media only screen and (min-width: 570px) and (max-width: 1024px) {
  .restaurant_card_placement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 4%;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant_card_placement {
    display: flex;
    flex-direction: row;
    column-gap: 1.7%;
  }
}

.heart__color {
  opacity: 0;
  cursor: pointer;
  background: linear-gradient(50deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart__color:hover {
  animation: heart__color 300ms both;
}

/* Rastaurant */
.background_restaurants_img img {
  width: 100%;
  height: 255px;
  object-fit: cover;
}

.restaurant_menu {
  max-width: 100%;
  border-radius: 35px 35px 0px 0px;
  background: #F6F6F6;
  padding: 20px 15px;
  margin-top: -50px;
  position: relative;
}
.restaurant_menu__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.restaurant_menu__header__title {
  font-family: "shrikhand", sans-serif;
  font-weight: bold;
  font-size: 1.65em;
}
.restaurant_menu__header__icon {
  font-size: 1.7em;
  position: absolute;
  right: 18px;
  top: 43.5px;
}
.restaurant_menu__container {
  height: 100%;
}
.restaurant_menu__container__title {
  width: 40px;
  font-weight: unset;
  font-size: 1em;
  border-bottom: #99E2D0 solid 3px;
}
.restaurant_menu__container__list {
  margin-bottom: 45px;
}
.restaurant_menu__container__list__dish {
  background: #fff;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 15px;
  box-shadow: 0 2px 15px -5px gray;
  overflow: hidden;
  cursor: pointer;
  animation: dish__bloc 950ms cubic-bezier(0.73, 0, 0.36, 1) both;
  transform-origin: bottom;
}
.restaurant_menu__container__list__dish:hover > .restaurant_menu__container__list__dish__check {
  animation: check__bloc 550ms both;
}
.restaurant_menu__container__list__dish:hover i {
  animation: check__rotation 450ms both;
}
.restaurant_menu__container__list__dish--2 {
  animation-delay: 200ms;
}
.restaurant_menu__container__list__dish--3 {
  animation-delay: 300ms;
}
.restaurant_menu__container__list__dish--4 {
  animation-delay: 400ms;
}
.restaurant_menu__container__list__dish__name {
  padding: 15px 15px 13px 10px;
  width: 100%;
  font-size: 0.9em;
  line-height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.restaurant_menu__container__list__dish__name h3, .restaurant_menu__container__list__dish__name p {
  margin: unset;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.restaurant_menu__container__list__dish__price {
  font-weight: bold;
  font-size: 0.9em;
  padding: 20px;
  width: 20px;
}
.restaurant_menu__container__list__dish__check {
  width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: white;
  font-size: 1.4em;
  transform: scaleX(0);
  transform-origin: right;
  flex-shrink: 0;
}
@media only screen and (min-width: 1024px) {
  .restaurant_menu__container {
    width: 100%;
    min-width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .direction_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 1%;
  }
}

.restaurant_menu__bloc_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant_menu__bloc_btn__btn {
  width: 190px;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: unset;
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 50px;
  cursor: pointer;
  box-shadow: 2px 2px 5px gray;
}
.restaurant_menu__bloc_btn__btn:hover {
  background: linear-gradient(190deg, #FF79DA, #9356DC);
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 1200ms linear both;
  animation-delay: 1000ms;
}

.loader--spinner {
  position: relative;
  width: 250px;
  height: 250px;
  border: 5px solid #F6F6F6;
  border-radius: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader--spinner ::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 250px;
  border-top: 5px double #9356DC;
  border-left: 5px double #FF79DA;
  border-right: 5px double #99E2D0;
  border-bottom: 5px double #9356DC;
  animation: loader-spinner 1500ms ease infinite;
}

.loader--logo img {
  animation: logo 2500ms both;
}

/*# sourceMappingURL=style.css.map */
