// loader

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 9999;
  }

  100% {
    opacity: 0;
    z-index: -1000;
  }
}

@keyframes logo {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loader-spinner {
  100% {
    transform: rotate(360deg);
  }
}

// functioning

@keyframes functioning-color {
  100% {
    background: $primary-color;
    opacity: 0.5;
  }
}

// heart

@keyframes heart__color {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//dish

@keyframes dish__bloc {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes check__bloc {
  0% {
    transform: scaleX(0);
    width: 0px;
  }
  100% {
    transform: scaleX(1);
    width: 60px;
  }
}

@keyframes check__rotation {
  0% { 
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
