@mixin box-shadow {
    box-shadow: 0 2px 15px -5px gray;
}

@mixin police-importante-title {
    font-family: "Shrikhand",sans-serif;
}

@mixin ellipse {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin restauraut-img-home {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

@mixin background-img {
    width: 100%;
    height: 255px;
    object-fit: cover;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bloc-radius {
    border-radius: 12px;
}