.footer {
    background: $background-footer;
    color: white;
    width: 100%;
    height: 195px;
    padding: 5px 25px 15px 25px;
    display: flex;
    flex-direction: column;
    &__title {
        @include police-importante-title;
        font-size: 1.3em;
    }
    &__list {
        list-style-type: none;
        padding: unset;
        margin: unset;
        &__li {
            line-height: 1.8rem;
        }
        &__li a {
            text-decoration: none;
            color: white;
        }
        &__li i {
            width: 15px;
            height: 15px;
            margin-right: 10px;
        }
    }
}