.header {
    width: 100%;
    height: 65px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    & .logo {
        
    }
    & .arrow_left {
        font-size: 1.5em;
    }
}