/* HOME */

.search__bloc {
  background: $background-search;
  max-width: 100%;
  height: 50px;
  @include flex-center;
  box-shadow: 0 10px 5px -7px #cfcfcf inset;
  font-size: 1.1em;
  &__icon {
    margin-right: 5px;
  }
  &__barre_search {
    border: unset;
    background: $background-search;
    font-weight: bold;
    font-size: 0.9em;
    width: 140px;
  }
}

.presentation__bloc {
  max-width: 100%;
  height: 285px;
  background: $background-grey;
  padding: 20px 35px;
  @include flex-center;
  flex-direction: column;
  &__title {
    text-align: center;
  }
  &__info {
    text-align: center;
  }
  &__btn {
    width: 220px;
    height: 50px;
    background: $btn-color;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 2px 2px 5px gray;
    @include flex-center;
    &:hover {
      background: $btn-color-hover;
    }
  }
}

.functioning {
  max-width: 100%;
  height: 440px;
  padding: 40px 20px 0 20px;
  &__title {
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }
  &__list {
    padding: unset;
    margin-left: 12.5px;
    &__li {
      max-width: 100%;
      height: 75px;
      background: $background-grey;
      margin-bottom: 1.7em;
      border-radius: 20px 20px;
      position: relative;
      box-shadow: 0 2px 5px  grey;
      @include flex-center;
      justify-content: flex-start;
      padding: 0px 30px;
      &:hover {
        background: rgba($color: $primary-color, $alpha: .2);
      }
      &:hover i {
        color: #9356dc;
      }
      &__number {
        width: 25px;
        height: 25px;
        border-radius: 100px;
        background: $primary-color;
        color: white;
        @include flex-center;
        position: absolute;
        left: -12.5px;
      }
      &__icon_mobile {
        font-size: 1.25em;
        color: gray;
      }
      &__icon_list {
        font-size: 1.05em;
        color: gray;
      }
      &__icon_store {
        font-size: 0.95em;
        color: gray;
      }
      &__text {
        margin-left: 15px;
        width: 100%;
        font-weight: bold;
      }
    }
  }
}

.restaurant {
  max-width: 100%;
  height: 1230px;
  background: $background-grey;
  padding: 40px 20px 0 20px;
  &__title {
    font-size: 1.5em;
  }
  &__def {
    width: 100%;
    height: 250px;
    background: $background-white;
    @include bloc-radius;
    @include box-shadow;
    margin-bottom: 1.3em;
    position: relative;
    & a {
      text-decoration: none;
      color: black;
    }
    &__img {
      width: 100%;
      height: 175px;
      position: relative;
      &__palette {
        @include restauraut-img-home;
      }
      &__enchantee {
        @include restauraut-img-home;
      }
      &__francaise {
        @include restauraut-img-home;
      }
      &__delice {
        @include restauraut-img-home;
      }
      &__new {
        background: $tertiary-color;
        width: 80px;
        height: 30px;
        font-weight: bold;
        position: absolute;
        right: 12px;
        top: 0;
        font-size: 80%;
        @include flex-center;
        border-radius: 3px;
      }
    }
    &__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%;
      max-height: 75px;
      border-radius: 0 0 15px 15px;
      padding: 15px 15px 10px 15px;
      &__name_add {
        line-height: 1.5em;
        & h3,
        p {
          margin: unset;
        }
      }
    }
    &__icon {
      position: absolute;
      right: 50px;
      top: 195px;
      &__heart {
        font-size: 1.8em;
        position: absolute;
      }
    }
  }
}

.heart__color {
  opacity: 0;
  cursor: pointer;
  background: $heart-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:hover {
    animation: heart__color 300ms both;
  }
}

/* Rastaurant */

.background_restaurants_img img {
  @include background-img;
}

.restaurant_menu {
  max-width: 100%;
  border-radius: 35px 35px 0px 0px;
  background: $background-grey;
  padding: 20px 15px;
  margin-top: -50px;
  position: relative;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__title {
      @include police-importante-title;
      font-weight: bold;
      font-size: 1.65em;
    }
    &__icon {
      font-size: 1.7em;
      position: absolute;
      right: 18px;
      top: 43.5px;
    }
  }
  &__container {
    height: 100%;
    &__title {
      width: 40px;
      font-weight: unset;
      font-size: 1em;
      border-bottom: $tertiary-color solid 3px;
    }
    &__list {
      margin-bottom: 45px;
      &__dish {
        background: $background-white;
        width: 100%;
        height: 70px;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 15px;
        @include box-shadow;
        overflow: hidden;
        cursor: pointer;
        animation: dish__bloc 950ms cubic-bezier(0.73,0,0.36,1) both;
        transform-origin: bottom;
        &:hover > &__check {
          animation: check__bloc 550ms both;
        }
        &:hover i {
          animation: check__rotation 450ms both;
        }
        &--2 {
          animation-delay: 200ms;
        }
        &--3 {
          animation-delay: 300ms;
        }
        &--4 {
          animation-delay: 400ms;
        }
        &__name {
          padding: 15px 15px 13px 10px;
          width: 100%;
          font-size: 0.9em;
          line-height: 1.5em;
          @include ellipse;
            & h3, p {
            margin: unset;
            @include ellipse;
          }
        }
        &__price {
          font-weight: bold;
          font-size: 0.9em;
          padding: 20px;
          width: 20px;
        }
        &__check {
          width: 0px;
          @include flex-center;
          background: $tertiary-color;
          color: white;
          font-size: 1.4em;
          transform: scaleX(0);
          transform-origin: right;
          flex-shrink: 0;

        }

      }
    }
    @media only screen and (min-width: 1024px) {
      min-width: 315px;
    }  
  }
}

.direction_menu {
  @media only screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
